.netflix_sign_logo img {
    width: 220px;
    cursor: pointer;
}

.netflix_header {
    top: 0;
    width: 100vw;
    color: aliceblue;
    padding: 0 100px;
    position: absolute;
    background: #00000076;
    box-shadow: 3px 5px 10px rgba(6, 6, 6, 0.184);
   
}

.header-list ul li a {
    font-size: 16px;
    font-weight: 400;
    color: aliceblue;
}

.header-list ul li a:hover {
    color: #c2c2c2;
}

.anbc img{
    width: 100%;
}