.home_banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000a0;
}

.banner_content {
    display: flex;
    padding: 0 140px;
    justify-content: space-between;
}

.netflix_logo img {
    width: 180px;
    cursor: pointer;
}

.navbar_text_content {
    text-align: center;
    color: #fff;
}

.banner_text_box {
    display: flex;
    gap: 5px;
    transform: translateY(32%);
}

.navbar_text_content {
    margin-top: 10%;
}
.my-btn{
      color: #fff;
      background: red;
      padding: 6px 10px;
      border-radius: 5px;
      border: none;
}
.home_form_box{
    width: 70%;
    margin: auto;
}
.home_form_box input {
    width: 50%;
    padding: 12px 20px;
    border-radius: 3px;
    border: 1px solid green;
    background: #000000a0;
    outline: red;
    color: #fff;
}


@media only screen and (max-width: 992px) {

    .banner_content {
        padding: 0 10px;
    }

    .netflix_logo img {
        width: 180px;
    }
}

@media only screen and (max-width: 768px) {

    .banner_content {
        padding: 0 10px;
    }

    .netflix_logo img {
        width: 180px;
    }

   

}

@media only screen and (max-width: 576px) {

    .netflix_logo img {
        width: 120px;
    }
    .banner_text_box {
        transform: translateY(28%);
    }


}
@media only screen and (max-width: 300px) {
    .banner_content {
        display: flex;
       flex-direction: column;
    }
    

}