.footer_box {
   padding: 5% 7%;
   background: #000000;
}

.footer_box p {
   color: #fff;
   padding-left: 40px;
}

.footer_text ul {
   color: #fff;
}

.footer_text ul li {
   padding: 8px 0;
   list-style: none;
}

.footer_text ul li a {
   color: #b7b2b2;
}

@media only screen and (max-width: 375px) {
   .footer_box {
      text-align: center;
      padding: 50px 0;
      background: #000000;
   }
}